body {
  background-color: lightblue;
}

.marquee-wrapper {
  display: flex;
  width: max-content;
  animation: mover 20s linear infinite;
}

.marquee-text {
  display: inline-block;
  white-space: nowrap;
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding-right: 100px;
}

@keyframes mover {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(220%);
  }
}