body {
  background-color: #E7CBB0;
  color: white;    
}

.marquee-wrapper {
  display: flex;
  width: max-content;
  animation: mover 30s linear infinite;
}

button {
    background-color: #DBA77A; 
    color: white;            
    border: none;              
    padding: 10px 20px;        
    font-weight: bold;         
    cursor: pointer;       
    border-radius: 5px;        
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #c9945f; 
}


.marquee-text {
  display: inline-block;
  white-space: nowrap;
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding-right: 100px;
}

@keyframes mover {
  0% {
    transform: translateX(220%);
  }
  100% {
    transform: translateX(-100%);
  }

}
